<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Help Desk - Sistema de Ordem de Serviço</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" href="/css/style.css"/>
</head>
<body>
<header>
    <h1>Help Desk - Sistema de Ordem de Serviço</h1>
    <p>Projeto desenvolvido para a cadeira de Backend-Frameworks</p>
    <nav>
        <a th:href="@{/workorders}">Listar Ordens</a>
        <a th:href="@{/workorders/new}">Nova Ordem</a>
    </nav>
    <hr>
</header>